# Django
DJANGO_SETTINGS_MODULE=config.settings.prod
SECRET_KEY=change-this-to-a-long-random-secret
ALLOWED_HOSTS=example.com,www.example.com,127.0.0.1
CSRF_TRUSTED_ORIGINS=https://example.com,https://www.example.com
SITE_BASE_URL=https://example.com
ADMIN_URL=botgate-admin/

# Database
# Production uchun shared hostingda MySQL qulayroq bo'lishi mumkin.
DATABASE_ENGINE=mysql

# MySQL
MYSQL_DB=chorva_boshqaruv
MYSQL_USER=chorva_user
MYSQL_PASSWORD=change-this-password
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_SSL_REQUIRED=False

# PostgreSQL ishlatilsa shularni to'ldiring
POSTGRES_DB=chorva_boshqaruv
POSTGRES_USER=chorva_user
POSTGRES_PASSWORD=change-this-password
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

# Telegram
BOT_TOKEN=123456:replace-with-real-token
REPORT_TELEGRAM_CHAT_ID=123456789

# Email / Gmail SMTP
REPORT_EMAIL_TO=admin@example.com
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your-gmail@gmail.com
EMAIL_HOST_PASSWORD=google-app-password
DEFAULT_FROM_EMAIL=BotGate Ferma <your-gmail@gmail.com>

# Security
SECURE_SSL_REDIRECT=True
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=True
SECURE_HSTS_PRELOAD=False
